.tree-container {
    position: relative;
    width: 20000px;
    height: calc(100vh - 20px); /* accounting for scrollbar */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    overflow: hidden;
}

.node {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #246e86;
    font-size: 14px;
}

.parent {
    margin-bottom: 300px;
}

.children {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.child {
    margin: 0 20px;
}

.content {
    padding: 10px;
    cursor: pointer;
}

.svg-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1; /* Ensure the lines are behind the nodes */
}
